build.zip
**/.terraform/
**/node_modules/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
**/dist/
.env

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
